@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

input[type="checkbox"] {
    position: absolute;
    display: none;
  }
  
  .menu {
    position: fixed;
    bottom: 10%;
    left: 1.5%;
  }
  .toggleBtn{
    font-size: 30px;
  }
.material-icons{
  color: white;
}
  .btn {
    width: 60px;
    height: 60px;
    border-radius: 70px;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    font-size: 15px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  
  .btn:not(:first-child) {
    opacity: 0;
    z-index: -2;
    transition: all 0.6s cubic-bezier(.87, -.41, .19, 1.44);
  }
  
  .btn:nth-child(2) { top: 0; transition-delay: 0s; }
  .btn:nth-child(3) { top: 0; left: 0; transition-delay: 0.1s; }
  .btn:nth-child(4) { left: 0; transition-delay: 0.2s; }
  
  input[type="checkbox"]:checked ~ #show-menu .btn:nth-child(2) { top: -150px; opacity: 1; }
  input[type="checkbox"]:checked ~ #show-menu .btn:nth-child(3) { top: -100px; left: 100px; opacity: 1; }
  input[type="checkbox"]:checked ~ #show-menu .btn:nth-child(4) { left: 150px; opacity: 1; }
  
  .menuBtn, .closeBtn {
    position: absolute;
    transition: all 0.3s ease;
  }
  
  .closeBtn {
    transform: translateY(50px);
    opacity: 0;
  }
  
  input[type="checkbox"]:checked ~ #show-menu .btn .menuBtn {
    transform: translateY(-50px);
    opacity: 0;
  }
  
  input[type="checkbox"]:checked ~ #show-menu .btn .closeBtn {
    transform: translateY(0);
    opacity: 1;
  }

  